%hr {
  border-bottom: 0.8px solid $gray;
  padding: 10px 0;
}

@mixin pad($dir, $val) {
  padding-#{$dir}: $val;
}

.info__card {
  display: flex;
  flex-direction: column;
  margin: 4em 0;

  h1 {
    font-weight: normal;
    font-size: 1.35em;
    @extend %hr;
    margin: 0;
    padding: 0;

    span {
      font-family: "Galada";
      color: $lightred;
    }
  }

  &--social {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    @extend %hr;

    a {
      margin-right: 25px;
    }

    .fbIcon,
    .instaIcon,
    .githubIcon {
      transition: fill 0.1s ease-in;
    }

    &-icon {
      transition: transform 0.1s ease-in;
      filter: saturate(1.2) brightness(1.2) contrast(1);
    }

    &-icon:hover {
      transform: scale(1.1);

      .fbIcon {
        fill: #4267b2 !important;
      }

      .instaIcon {
        fill: #fb3958 !important;
      }

      .githubIcon {
        fill: #7dbbe6 !important;
      }
    }
  }

  &--desc {
    display: flex;
    flex-direction: column;
    @extend %hr;

    span {
      @include text($gray, "Quicksand", 0.5px, 0.65em);
    }
  }

  &--contact {
    display: flex;
    flex-direction: column;

    &-mail {
      @extend %hr;
      padding: 0 0 10px 0;
      display: flex;
      flex-direction: column;
    }

    &-call {
      display: flex;
      flex-direction: column;
    }

    &-mail,
    &-call {
      & > p {
        margin: 5px 0;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 2px;
      }
    }

    &__mail-link,
    &__call-link {
      @include formatLink($gray, "Quicksand", 0.65em, normal, none);

      p {
        margin-bottom: 15px;
        margin-top: 0;
        margin: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--icon,
  &--social-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (orientation: landscape) {
  .info__card {
    margin: 0;

    h1 {
      font-size: 1.8em;
    }

    &--social {
      a {
        margin-right: 0;
      }

      padding: 20px 0;
      justify-content: space-around;
    }

    &--desc {
      span {
        @include text($gray, "Quicksand", 0.5px, 0.8em);
      }
    }

    &--contact {
      &__mail-link,
      &__call-link {
        @include formatLink($gray, "Quicksand", 0.8em, normal, none);
      }
    }

    &--icon,
    &--social-icon {
      width: 25px;
      height: 25px;
    }
  }
}
