# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

#production
/client/build

# misc
.DS_Store
.env.*
/client/.DS_Store
/client/.env.*

.deployment
/.vscode/
npm-debug.log*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/backend