@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Baloo+Paaji+2:wght@500;700&family=Roboto+Slab&family=Galada&family=Kurale&family=Encode+Sans+Expanded:wght@600&display=swap");

$blue: #96cdef;
$pink: #ff1380;
$lightpink: #ff80d8;
$yellow: #fff942;
$darkgray: #242627;
$darkblue: #263133;
$red: #ff3939;
$lightred: #ff6363;
$gray: #c3c3c3;
$orange: #ff864c;

@mixin buttonHover($bg, $color) {
  background-color: $bg;
  color: $color;
}

@mixin formatLink($color, $fontFamily, $font-size, $font-weight, $text_t) {
  color: $color;
  text-decoration: none;
  font-family: $fontFamily, cursive;
  text-transform: $text_t;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 1px;
}

@mixin customButton($pad, $border, $t_time, $bg, $hoverColor) {
  padding: $pad;
  border: $border;
  transition: background-color $t_time ease-in, color $t_time ease-in,
    transform $t_time ease-in;
  cursor: pointer;

  &:hover {
    @include buttonHover($bg, $hoverColor);
  }
}

@mixin text($color, $fontFamily, $spacing, $size) {
  color: $color;
  font-family: $fontFamily, sans-serif;
  letter-spacing: $spacing;
  font-size: $size;
}

@mixin button($padding, $margin, $color, $hoverColor) {
  background: none;
  color: $color;
  border-radius: 12px;
  outline: none;
  margin: $margin;
  @include customButton($padding, 1px solid $color, 0.3s, $color, $hoverColor);
}

@mixin link-design($color) {
  color: $color;
  text-decoration: none;
  border-bottom: 1px solid $color;
  padding-bottom: 2px;
  font-size: 0.8em;
  width: max-content;
  padding-right: 18px;
}

@mixin link-design-after($mt) {
  content: "";
  background-image: url("../../images/arrow-link.svg");
  width: 10px;
  height: 9px;
  margin-left: 5px;
  margin-top: $mt;
  background-size: cover;
  position: absolute;
  transition: margin 0.1s ease-in-out;
}

.link-design,
.link-design-layered {
  @include link-design($blue);
}

.link-design::after {
  @include link-design-after(7px);
}

.link-design-layered::after {
  @include link-design-after(4px);
}

@media screen and (orientation: landscape) {
  .link-design {
    font-size: 1em;
  }

  .link-design::after {
    width: 13px;
    height: 11px;
    margin-top: 6px;
  }

  .link-design:hover::after,
  .link-design-layered:hover::after {
    margin-left: 10px;
  }
}

.emphasis-color-blue {
  color: $blue;
  font-size: 1.2em;
  font-family: "Quicksand";
}

.emphasis-color-pink {
  color: $pink;
  font-size: 2em;
  font-family: "Quicksand";
}

.emphasis-color-yellow {
  color: $yellow;
  font-size: 1.2em;
  font-family: "Galada";
  text-transform: capitalize;
}

.emphasis-color-red {
  color: $red;
  font-size: 1.2em;
  font-family: "Roboto Slab";
}

@import "./partials/crop";
@import "./partials/search";
@import "./partials/sort";
@import "./partials/dialog";
@import "./partials/flash";
@import "./partials/more";
@import "./partials/navbar";
@import "./partials/sideTitle";
@import "./partials/collab";
@import "./partials/home";
@import "./partials/about";
@import "./partials/featureHeader";
@import "./partials/featuredPosts";
@import "./partials/authenticate";
@import "./partials/dashboard";
@import "./partials/footer";
@import "./partials/posts";
@import "./partials/users";
@import "./partials/addpost";
@import "./partials/attributions";
