.control {
  margin: 10% 2%;
  color: #000;

  &__show-details {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
    justify-content: center;
    z-index: 1000;

    ul {
      background: linear-gradient(90deg, $blue, #cceaff);
      list-style: none;
      padding: 10% 5%;
      width: 90%;
      border-bottom: 1px solid #000;
      position: relative;
      outline: none;

      li {
        font-size: 0.8em;
        color: #000;

        &:nth-child(1) {
          position: absolute;
          right: 20px;
          top: 15px;
          cursor: pointer;

          svg > g {
            stroke: #000;
          }
        }

        &:nth-child(2) {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 0.5rem;
          color: $gray;
        }

        &:nth-child(3),
        &:nth-child(5) {
          text-transform: capitalize;
        }

        strong {
          font-size: 0.9em;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  &__features {
    display: flex;
    margin: 10% 0;
    color: #fff;
    justify-content: space-between;
    font-family: "Kurale";

    &-sort {
      display: flex;
      flex-direction: column;
      width: 120px;
      font-size: 0.7em;
      justify-content: space-evenly;

      select {
        background: transparent;
        color: #fff;

        option {
          background-color: $darkgray;
          color: #fff;
        }
      }

      &__by {
        font-size: 0.8em;
        margin-bottom: 5%;
      }

      &__order {
        font-size: 0.75em;
      }
    }

    &-select {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      &__search {
        font-size: 0.8em;
        text-align: right;
      }

      &__multiple-delete {
        width: 40%;
        font-size: 0.8em;
        margin-bottom: 1em;

        &__button {
          @include button(3% 1%, 0 0, $red, #000);
          font-size: 0.7em;
          width: 100%;

          &:disabled {
            border-color: $gray;
            color: $gray;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
table {
  width: 100%;
  margin: 5% 0 10% 0;
  background-color: #fff;
  border-collapse: collapse;

  thead {
    tr {
      th {
        color: #fff;
        background-color: $darkgray;
        padding: 3% 2%;
        font-size: 0.9em;

        input[type="checkbox"] {
          cursor: pointer;
        }

        &:nth-child(1) {
          text-align: left;
        }

        &:nth-child(2) {
          width: 70%;
        }

        &:nth-child(3) {
          font-size: 0.85em;
          width: 20%;
        }
      }
    }

    .dashboard__head-row {
      th {
        background-color: #282a2f;

        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: center;
        background-color: $blue;
        padding: 5% 2%;
        font-size: 2.5vmax;

        input[type="checkbox"] {
          cursor: pointer;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
          text-align: left;
        }

        &:nth-child(4) {
          padding-left: 2%;
        }

        a {
          @include formatLink(#000, "Kurale", 0.9em, normal, capitalize);

          &:hover {
            color: #000;
            text-decoration: underline;
          }
        }
      }

      &:nth-child(even) {
        td {
          background-color: #93aee5;
        }
      }
    }

    .dashboard__body-row {
      td {
        &:nth-child(3),
        &:nth-child(4) {
          width: 10%;
        }

        &:nth-child(4) {
          text-align: left;
        }
      }
    }
  }
}
@media screen and (orientation: landscape) {
  .control {
    margin: 0 10%;

    &__show-details {
      width: 100%;

      ul {
        background: linear-gradient(90deg, #697174, #cceaff);
        width: 30%;
        padding: 2.5% 2%;

        li {
          font-size: 1em;
        }
      }
    }

    &__features {
      margin: 5% 0 1% 0;

      &-sort {
        width: 180px;
        font-size: 0.9em;
      }

      &-select {
        flex-direction: row;
        width: 300px;

        &__search {
          text-align: left;
        }

        &__multiple-delete {
          width: 32%;
          font-size: 0.8em;
          margin-bottom: 0;
        }
      }
    }
  }

  table {
    margin: 0;

    thead {
      tr {
        th {
          padding: 1% 0;
          font-size: 1.2em;

          &:nth-child(1) {
            padding: 0 2%;
            width: 5%;
          }

          &:nth-child(2) {
            width: 50%;
          }

          &:nth-child(3) {
            width: 15%;
          }

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            width: 10%;
            font-size: 0.85em;
          }
        }
      }

      .dashboard__head-row {
        th {
          &:nth-child(1) {
            padding: 0 1%;
          }
          &:nth-child(3) {
            width: 10%;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 2vmin;
          padding: 2%;

          &:nth-child(3) {
            font-weight: bold;
          }

          &:nth-child(7) {
            padding-left: 1%;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            font-size: 1.5vmin;
            color: #000;
            text-align: center;
          }

          a {
            font-size: 1.2em;
          }
        }
      }

      .dashboard__body-row {
        td {
          padding: 1%;

          &:nth-child(3) {
            font-weight: normal;
            font-size: 1.5vmin;
            color: #000;
          }

          &:nth-child(5),
          &:nth-child(6) {
            width: 5%;
          }

          &:nth-child(4) {
            text-align: center;
          }

          &:nth-child(6) {
            text-align: left;
          }
        }
      }
    }
  }
}
