.attributions {
  text-align: right;
  color: $gray;
  font-size: 0.6em;
  margin: 5% 0;

  a {
    color: #fff;
  }

  h2 {
    display: inline-block;
    border-bottom: 1px solid gray;
    letter-spacing: 1px;
  }
}
