$lightblue: #add0e9;

%align-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%content-wrapper {
  margin-bottom: 15%;
  color: #fff;
  text-decoration: none;
}

%text-wrapper {
  h3 {
    font-family: "Galada", cursive;
    font-size: 0.85em;
    font-weight: normal;
    color: $lightblue;
  }

  h1 {
    margin: 1% 0;
    text-decoration: underline;
    text-decoration-color: $lightblue;
    font-size: 1.2em;
  }

  p {
    text-overflow: ellipsis;
    line-height: 1.3em;
    font-size: 0.8em;
    color: #afb8bc;
    max-height: 3.9em;
    overflow: hidden;
  }
}

.featured__posts {
  display: flex;
  flex-direction: column;

  &--large {
    @extend %align-post;
    @extend %content-wrapper;
    margin-top: -5%;

    &__thumbnail {
      align-self: center;
      object-fit: cover;
      width: 80%;
      max-height: 60%;
    }

    &__text-wrapper {
      margin: 0 10%;

      @extend %text-wrapper;
    }
  }

  &--small {
    @extend %align-post;

    &-item {
      @extend %content-wrapper;
      width: 80%;

      &__thumbnail {
        object-fit: cover;
        width: 100%;
        max-height: 60%;
      }

      &__text-wrapper {
        @extend %text-wrapper;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  %text-wrapper {
    h3 {
      font-size: 1em;
    }

    h1 {
      font-size: 1.5em;
    }

    p {
      text-overflow: ellipsis;
      line-height: 1.3em;
      font-size: 1em;
      color: #afb8bc;
      max-height: 3.9em;
      overflow: hidden;
    }
  }
  .featured__posts {
    &--large {
      margin-bottom: 5%;

      &__thumbnail {
        align-self: center;
        width: 80%;
        max-height: 60%;
      }
    }

    &--small {
      flex-direction: row;
      margin: 0 10%;
      justify-content: space-between;

      &-item {
        width: 48%;

        &__thumbnail {
          width: 100%;
          max-height: 60%;
        }
      }
    }
  }
}
