$gray: #8a8a8a;

@import "./footer/infocard";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70vh;
  background-size: cover;
  margin-top: 20%;
  padding: 15% 10%;
  overflow: hidden;

  &__content {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__go-top {
    height: max-content;
    margin-top: 15px;
    @include customButton(2px 30px, 1px solid $blue, 0.3s, $blue, #000);
    color: $blue;
    font-family: "Galada";
    font-size: 1em;
    position: relative;

    &--icon {
      width: 30px;
      transform: rotate(-90deg);
      position: absolute;
      left: 2px;
    }

    .arrowFill {
      stroke: $blue;
      transition: fill 0.25s ease-in, stroke 0.25s ease-in;
    }

    &:hover .arrowFill {
      fill: #000;
      stroke: #000;
    }
  }

  &__copy {
    display: flex;
    width: 100%;
    justify-content: center;
    @include text($gray, "Quicksand", 0, 0.8em);

    span {
      letter-spacing: 0.5px;
      margin: 0 1%;
      text-transform: capitalize;
    }
  }
}

@media screen and (orientation: landscape) {
  .footer {
    padding: 5% 10%;
    margin-top: 10%;

    &__go-top {
      margin-top: 0;
      height: 12%;
      font-size: 1em;
      @include customButton(5px 40px, 1px solid $blue, 0.3s, $blue, #000);
    }
  }
}
