.sort__by,
.sort__order {
  display: flex;
  justify-content: space-between;

  select {
    width: 55%;
    font-size: 0.85em;
  }
}

@media screen and (orientation: landscape) {
  .sort__by,
  .sort__order {
    select {
      font-size: 1em;
    }
  }
}
